{% extends 'designs/base.html' %}
{% block content %}

    <br>
    <br>
    <!-- Page Content -->
    <div class="container mt-4">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Bienvenido disenador!</h1>
            <p class="lead">A continuacion encontrara una lista de empresas que estan buscando disenadores como tu, que
                tienen fabulosos proyectos de los que puedes ser parte, selecciona alguna de tu interes para que puedes
                ver sus proyectos y animate a subir tus propios disenos</p>

        </header>

        <!-- Page Features -->
        <div class="row text-center">
            {% for c in companies %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ c.name }}</h4>
                            <p class="card-text"><strong>URL de la empresa: </strong><br>{{ c.url }} <br><br><strong>Administrada
                                por: </strong><br> {{ c.owner }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="/empresas/{{ c.url }}" class="btn btn-primary">Proyectos</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
