{% extends 'designs/base.html' %}
{% block content %}
    <section class="py-5 mt-5">
    <!-- Page Content -->
    <div class="container mt-5">

        <div class="row">

            <div class="col-lg-3">

                <h2 class="my-4 text-muted">Proyectos de la empresa <b>{{ company.name }}</b></h2>
                {% if company.owner == user %}
                    <a href="/empresas/{{ company.url }}/nuevo_proyecto/" class="btn btn-outline-success mb-2 btn-sm">Nuevo
                        Proyecto <i class='fas fa-plus' style='font-size:15px;color:green'></i> </a>
                {% endif %}

                <ul class="list-group">
                    {% for p in projects %}
                        <li class="list-group-item d-flex bd-highlight">
                            <a href="/empresas/{{ company.url }}/{{ p.pk }}"
                               class="mr-auto  bd-highlight">{{ p.name }}</a>
                            {% if company.owner == user %}

                                <a style="cursor: pointer" data-toggle="modal" data-target="#eliminarProyectoModal" data-whatever="{{ p.pk }}">
                                    <i class='far fa-trash-alt  bd-highlight' style='font-size:24px;color:red'></i>
                                </a>
                             {% endif %}

                        </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                {% if form_project %}
                    {% if company.owner == user %}
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            {{ form_project }}
                            <br>
                            <button type="submit" class="btn btn-primary">Crear / Modificar proyecto</button>
                        </form>
                        <br>

                    {% else %}
                        <br>
                        <div class="card mb-3">
                            <div class="card-header"><b>Nombre:</b> {{ project.name }}</div>
                            <div class="card-body text-info">

                                <p class="card-text"><b>Descripción:</b> {{ project.description }}</p>
                            </div>
                            <div class="card-footer bg-transparent"><b>Presupuesto estimado:</b> ${{ project.cost }}</div>
                        </div>
                    {% endif %}

                {% endif %}
                <hr>
                <br>
                {% if project %}
                    {% if user.is_authenticated == False %}
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#design_form">
                            Agregar diseño <i class='fas fa-plus' style='font-size:15px;color:white'></i>
                        </button>
                        <br><br>
                        <div id="design_form" class="collapse in">
                            <form method="post" action="/empresas/{{ company.url }}/{{ project.pk }}/nuevo_design"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ design_form }}
                                <br>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </form>

                        </div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <h4 class="alert-heading">Diseño enviado con éxito!</h4>
                                    <p>{{ message }}</p>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <hr>
                        <br>
                    {% endif %}

                    <h4>Lista de diseños de este proyecto</h4>

                    <div class="row">
                    {% if company.owner == user %}
                        {% if designs_owner %}
                            {% for d in designs_owner %}
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card h-100">
                                        {% if d.state.name == 'En proceso' %}
                                            <a href="../../../media/{{ d.original_file }}"><img width="100" height="100" class="card-img-top" src="/media/{{ d.original_file }}"></a>
                                        {% else %}
                                            <a href="../../../media/{{ d.process_file }}"><img width="100" height="100" class="card-img-top" src="/media/{{ d.process_file }}"></a>
                                        {% endif %}
                                        <div class="card-body">
                                            {% if company.owner == user %}
                                                <p><b>Diseñador:</b> {{ d.designer_name }} {{ d.designer_last_name }}</p>
                                                <p><b>Email:</b> {{ d.designer_email }}</p>
                                                <p><b>Precio pedido:</b> {{ d.value }}</p>
                                                <p><b>Estado:</b> {{ d.state.name }}</p>
                                                <p><b>Archivo original:</b>
                                                <form method="get" action="/dowload_image/original/{{ d.id }}">
                                                    <button class="btn"><i class="fa fa-download"></i> Descargar</button>
                                                </form>
                                                </p>
                                                {% if d.state.name == 'Disponible' %}
                                                    <p><b>Archivo procesado:</b>
                                                    <form method="get" action="/dowload_image/processed/{{ d.id }}">
                                                        <button class="btn"><i class="fa fa-download"></i> Descargar
                                                        </button>
                                                    </form>
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Subido: {{ d.created_date }}</small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <em>(Aun no hay diseños para este proyecto)</em>
                        {% endif %}
                    {% else %}
                        {% if designs_designer %}
                            {% for d in designs_designer %}
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <a href="../../../media/{{ d.process_file }}"><img width="100" height="100" class="card-img-top" src="/media/{{ d.process_file }}"></a>
                                        <div class="card-footer">
                                            <small class="text-muted">Subido: {{ d.created_date }}</small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <em>(Aun no hay diseños para este proyecto)</em>
                        {% endif %}
                    {% endif %}

                {% elif form_project is None %}
                    <em>(Selecciona algun proyecto)</em>
                {% endif %}

                </div>
                <!-- /.row -->
                {% if company.owner == user %}
                    <div class="row justify-content-center">
                        <nav aria-label="Page navigation example">
                            {% if designs_owner.has_other_pages %}
                                <ul class="pagination justify-content-center">
                                    {% if designs_owner.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ designs_owner.previous_page_number }}"><span
                                                aria-hidden="true">&laquo;</span></a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                        </li>
                                    {% endif %}
                                    {% for i in designs_owner.paginator.page_range %}
                                        {% if designs_owner.number == i %}
                                            <li class="page-item active"><a class="page-link"
                                                                            href="?page={{ i }}"><span>{{ i }} <span
                                                    class="sr-only">(current)</span></span></a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if designs_owner.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ designs_owner.next_page_number }}"><span
                                                aria-hidden="true">&raquo;</span></a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span
                                                    aria-hidden="true">&raquo;</span></a>
                                        </li>

                                    {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>
                {% else %}
                     <div class="row justify-content-center">
                        <nav aria-label="Page navigation example">
                            {% if designs_designer.has_other_pages %}
                                <ul class="pagination justify-content-center">
                                    {% if designs_designer.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ designs_designer.previous_page_number }}"><span
                                                aria-hidden="true">&laquo;</span></a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                        </li>
                                    {% endif %}
                                    {% for i in designs_designer.paginator.page_range %}
                                        {% if designs_designer.number == i %}
                                            <li class="page-item active"><a class="page-link"
                                                                            href="?page={{ i }}"><span>{{ i }} <span
                                                    class="sr-only">(current)</span></span></a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if designs_designer.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ designs_designer.next_page_number }}"><span
                                                aria-hidden="true">&raquo;</span></a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span
                                                    aria-hidden="true">&raquo;</span></a>
                                        </li>

                                    {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                     </div>
                {% endif %}

                <!-- /.row -->
                <div class="my-3 col-lg-9 justify-content-center">
                {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {% if 'Hemos recibido tu diseño' in message %}
                                    {% else %}
                                        <p>{{ message }}</p>
                                    {% endif %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        </ul>
                {% endif %}
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Modal -->

    <div class="modal fade" id="eliminarProyectoModal" tabindex="-1" role="dialog" aria-labelledby="eliminarProyectoModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eliminarProyectoModalTitle">Eliminar proyecto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Está seguro que desea eliminar este proyecto?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" id="btnEliminar" role="button">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock %}

