{% extends 'designs/base.html' %}
{% block content %}

    <br>
    <br>
    <!-- Page Content -->
    <div class="container mt-4">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Bienvenido diseñador!</h1>
            <p class="lead">A continuación encontrarás una lista de empresas que estan buscando diseñadores como tú, que
                tienen fabulosos proyectos de los que puedes ser parte, selecciona alguna de tu interés para que puedas
                ver sus proyectos y animate a subir tus propios diseños</p>

        </header>

        <!-- Page Features -->
        <div class="row text-center">
            {% for c in companies %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title text-info">{{ c.name }}</h3>
                            <p class="card-text"><strong>URL de la empresa: </strong><br>{{ c.url }} <br><br><strong>Administrada
                                por: </strong><br> {{ c.owner }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="/empresas/{{ c.url }}" class="btn btn-primary">Proyectos</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
