{% extends 'designs/base.html' %}
{% block content %}

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    </header>
    <!-- Content section -->
    <section class="py-5 mt-5">
        <div class="container">
            <h1>Diseños</h1>
            <h2>Encuentra un diseñador!</h2>
            <p class="lead">Tu sitio web donde puedes encontrar para tu empresa los mejores diseños que se adapten a tus necesidades.
                Recibe propuestas de diseñadores expertos en tan solo minutos </p>
        </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <div class="container">
            <p class="lead">Una vez publicado tu proyecto te contactaran Diseñadores interesados</p>
            <p class="lead">Puedes ver y descargar los diseños en proceso y cuando se encuentren disponibles</p>
            <p class="lead">Seleccionas la propuesta más conveniente</p>
        </div>
        <div style="height: 200px;"></div>
    </section>
{% endblock %}
