{% extends 'designs/base.html' %}
{% block content %}

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    </header>
    {% if user.is_authenticated %}
    {% else %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <!-- Content section -->
    <section class="py-5 mt-5">
        <div class="container">
            <h1>DesignMatch</h1>
            <h2 class="text-info">Encuentra un diseñador!</h2>
            <p class="lead">Tu sitio web donde podrás encontrar para tu empresa los mejores diseños que se adapten a tus necesidades.</p>
            <p class="lead">Recibe propuestas de diseñadores expertos en tan solo minutos. </p>
        </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <div class="container">
            <h2 class="text-center p-3">DesignMatch es la mejor forma de realizar tus trabajos</h2>
            <p class="lead text-center p-3">Es tan simple como...</p>
            <div class="card-deck">
             <div class="card">
                <i class="card-img-top fas fa-comments text-center pt-2" style='font-size:70px;color:darkblue'></i>
                <div class="card-body">
                  <p class="lead text-center">Una vez publicado tu proyecto te contactaran diseñadores interesados</p>
                </div>
              </div>
              <div class="card">
                <i class="card-img-top fas fa-cloud-download-alt text-center pt-2" style='font-size:70px;color:lightskyblue'></i>
                <div class="card-body">
                  <p class="lead text-center">Puedes ver y descargar los diseños en proceso y cuando se encuentren disponibles</p>
                </div>
              </div>
              <div class="card">
                <i class="card-img-top fas fa-hand-pointer text-center pt-2" style='font-size:70px;color:deeppink'></i>
                <div class="card-body">
                    <p class="lead text-center">Seleccionas la propuesta más conveniente</p>
                </div>
              </div>
            </div>

         </div>
        <div style="height: 100px;"></div>
    </section>

    <section class="py-5 mt-5">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <div class="container text-center">
            <h2>¿Por qué contratar en DesignMatch?</h2>
            <div class="row p-5 text-justify">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                 <p class="lead"><b>Publicar es gratis.</b> Puedes publicar y recibir propuestas de forma completamente gratuita.</p>
                 <p class="lead"><b>Velocidad.</b> Una vez publicado tu proyecto comenzarás a recibir propuestas al instante.</p>
                 <p class="lead"><b>Calidad asegurada.</b> 90% de nuestros clientes vuelven a contratar un diseñador dentro de la plataforma.</p>
              </div>
              <div class="col-lg-3"></div>
            </div>
        </div>
    </section>

{% endblock %}
