{% extends 'designs/base.html' %}
{% block content %}
    <div class="container mt-5">
        <br>

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 600px;">
                <h4 class="card-title mt-3 text-center">Crea una cuenta como administrador de una compania</h4>
                <p class="text-center">Comienza creando una cuenta como usuario y postula tus proyectos para que
                    disenaores de todo el mundo te ayuden con sus disenos</p>

                <form method="POST" class="post-form" action="/registro/">
                    {% csrf_token %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                         {{ form_company.name }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        {{ form_user.email }}
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{ form_user.password1 }}
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{ form_user.password2 }}
                    </div> <!-- form-group// -->
                    {{ form_user.errors }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Crear cuenta </button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Ya tienes cuenta? <a href="">Autenticate</a></p>
                </form>
            </article>
        </div> <!-- card.// -->

    </div>
    <!--container end.//-->

    <br>

{% endblock %}